*.bak
*.config
*.config.par
*.launch
*.project
*=WreslCheck_main=.log
*.dsc
*.dsd
*.dsk

# File names
Error_evaluation.txt
Error_solving.txt

# Folders
Feather-Yuba-Rivers/Run/DSS/Output/
Shasta-RedBluff/Run/DSS/Output/
